#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    margin-left: 120px;
    margin-right: 120px;
  }
  
  .mylabel {
    color: darkslategrey;
  }
  
  .vertical-layout {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .myform {
    width: 640px;
    margin: 0 auto;
  }
  
  .text-area {
    min-height: 80px;
  }